version: "3.9"

services:
  binar-api:
    build:
      context: .
      dockerfile: Dockerfile
    
    image: binar-api:latest
    container_name: binar-api
    network_mode: "host"
    ports:
      - "5000"
    volumes:
      - type: bind
        source: ./home/superman/databases
        target: /app/databases
    environment:
      - APP_NAME=BinarAPI

# volumes:
#   database: {}
