version: "3.9"

services:
  binar-api:
    build:
      context: .
      dockerfile: Dockerfile
    
    image: binar-api:latest
    container_name: binar-api
    network_mode: "host"
    # ports:
    #   - 5001:5000
    environment:
      - APP_NAME=BinarAPI
    
