version: "3.9"

services:
  binar-api:
    build:
      context: .
      dockerfile: Dockerfile
    
    image: binar-api:latest
    container_name: binar-api
    networks:
      - bridge
    ports:
      - 5001:5000
    volumes:
      - /home/superman/dockerVolume:/app/databases:rw
    environment:
      - APP_NAME=BinarAPI
