version: "3.9"

services:
  binar-api:
    build:
      context: .
      dockerfile: Dockerfile
    
    image: binar-api:latest
    container_name: binar-api
    ports:
      - 5001:5000
    volumes:
      - binarapi-db:/app/databases
    environment:
      - APP_NAME=BinarAPI

volumes:
  binarapi-db:
